/* Elements */
body, html {
    height: 100%;
    margin: 1%;
    font-size: calc(15px + 0.390625vw); /* https://matthewjamestaylor.com/responsive-font-size */
    background-color: #282a36;
}

img {
    border-radius: 15px;
    object-fit: cover;
    aspect-ratio: 2/3;
    width: 20vw;
}

h1 {
    text-align: center;
    color: #ff79c6;
}

h2, h3 {
    color: #50fa7b;
}

p {
    text-align: justify;
    color: #f8f8f2;
}

div + div {
    margin-left: 1vw;
}

button {
    margin-left: 1vw;
}

span {
    color: #ffb86c;
}

/* ID */
#header-element {
    display: inline;
}

#footer-element {
    position: fixed;
    bottom: 0;
    left: 50%;
}

/* Classes */
.tablink {
    float: right;
    border-radius: 15px;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    width: 10%;
}

.tablink:hover {
    border-color: #e0218a;
}

.card {
    display: inline-table;
    background-color: #6272a4;
    border-radius: 15px;
    padding: 1% 1%;
    border-style: solid;
    border-color: #bd93f9;
    flex-shrink: 0;
    scroll-snap-align: center;
}

.card h3 {
    color:#f1fa8c;
    text-align: center;
}

.card-container {
    display: inline-flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    width: 100%;
}